@import './base.css';

#app {
  font-weight: normal;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(214, 79%, 52%, 0.2);
  }
}

.btn-primary {
  background-color: #1674FD !important;
  color: white !important;
}

.btn-success {
  background-color: #39cc37 !important;
  color: white !important;
}

.btn-danger {
  background-color: #ff3a3a !important;
  color: white !important;
}


.btn-warning {
  background-color: #f7c742 !important;
  color: white !important;
}

.btn-action-edit {
  background-color: #24bed6 !important;
  color: white !important;
}